!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container.topnav
        .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        h4(style='color:white;text-transform:uppercase') Welcome #{user.username}
        div.text-primary 
          a(href='/') 
            button.btn-primary Home
          a(href='/mypolls')  
            button.btn-primary My-Polls
          a(href='/logout')  
            button.btn-primary Logout  
      br
      br
      br
      .container
      #myJumbo.jumbotron.text-center
        h1#intro.text-primary Dashboard
        h3  Create your new poll below! 
        a(href='/mypolls')
          button.btn-lg.btn-info My Polls
      .container.text-center(ng-app='', ng-controller='AppCtrl')
        h2 New Poll
        p Name your poll.
        input(type='text', ng-model='polls.name')
        p Options
        div(ng-repeat='option in options')
          input(type='text', ng-model='polls.option[$index]')
        br
        button.btn.btn-primary(ng-click='removeOption()')  Less Options 
        button.btn.btn-primary(ng-click='addOption()') More Options
        button.btn.btn-success(ng-click='addPoll()') Submit
  script(src='controllers/controller.js')
  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js')

  