!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/main.css', rel='stylesheet', media='screen')

  body
    a(href="/") Home
    br
    .container(ng-app='', ng-controller='AppCtrl')
      lable Enter poll ID here to vote
      input(type='text', ng-model='pollID', value='56ae62568eb3f5a81ec67345')
      button.btn.btn-success(ng-click='votePoll(pollID)') Vote
      br
      .container.text-center
        {{votedata.data.name}}
      .container(ng-repeat='item in items', ng-hide='$last')
        button(ng-click='votefor($index)') {{item}}
        

       
  script(src='../controllers/controller.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js')